<div class="container">
  <h1>{{ title }} {{ 1 + 6 }}</h1>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Anwendung Column -->
  <ng-container matColumnDef="anwendung">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.anwendung }}</td>
  </ng-container>

  <!-- ICompany Column -->
  <ng-container matColumnDef="icompany">
    <th mat-header-cell *matHeaderCellDef>ICompany</th>
    <td mat-cell *matCellDef="let element">{{ element.icompany }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
